<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% %}" method="POST">
            <input type="text" placeholder="patientId" name="patientId" />
            <input type="text" placeholder="substance" name="substance" />
            <input type="text" placeholder="criticality" name="criticality" />
            <input type="text" placeholder="type" name="type" />
            <input type="text" placeholder="comment" name="comment" />
        </form>
    </div>
</body>
</html>