<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Patient Data</title>
</head>

<body>
    <div id="main">
        <!-- <div id="features-creation">
            <div id="allergies">
                <form action="{% url 'patientAllergiesCreation' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="patientId" name="patientId" />
                    <input type="text" placeholder="substance" name="substance" />
                    <input type="text" placeholder="criticality" name="criticality" />
                    <input type="text" placeholder="type" name="type" />
                    <input type="text" placeholder="comment" name="comment" />
                    <button type="button">Submit</button>
                </form>
            </div>
            <div id="procedures">
                <form method="POST" action="{% url 'procedurecreation' %}">
                    {%csrf_token%}
                    <input type="text" placeholder="Procedure name" name="Procedure" /><br>
                    <input type="text" placeholder="Body site" name="BodySite" /><br>
                    <label for="Date of Procedure">Date of Procedure: </label>
                    <input type="date" placeholder="Date of Procedure" name="DateofProcedure" /><br>
                    <input type="Submit" value="Submit">
                </form>
            </div>
            <div id="illness">
                <form action="{% url 'patientIllnessCreation' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" placeholder="patientno" name="patientno" /> <br />
                    <input type="text" placeholder="illness_name" name="illness_name" /> <br />
                    <input type="text" placeholder="body_site" name="body_site" /> <br />
                    <input type="text" placeholder="severity" name="severity" /> <br />
                    <input type="date" placeholder="illness_date_onset" name="illness_date_onset" /> <br />
                    <input type="date" placeholder="illness_date_abatement" name="illness_date_abatement" /> <br />

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div> -->
        <div id="diagenosis-creation">
            <div id="digenosis-details">
                <form method="post" action="{% url 'diaganosisReportCreation' %}" enctype="multipart/form-data" }>
                    {% csrf_token %}
                    <input type="hidden" id="lab_counter" name="lab_counter" value="0" />
                    <input type="hidden" id="image_counter" name="image_counter" value="0" />

                    <input type="text" name="patient_name" placeholder="Enter firstname" />
                    <input type="text" name="phone_number" placeholder="phone_number" />
                    <input type="text" name="doctor_name" placeholder="Enter firstname" />
                    <input type="text" name="doctor_number" placeholder="phone_number" />
                    <button type="submit">Search</button>
                </form>
                <div id="labreport">

                </div>
                <button onclick=get_labreport()>Add LabReport</button>

                <div id="imagereport">

                </div>
                <button onclick=get_imagereport()>Add ImageReport</button>
            </div>
        </div>
    </div>
    <script>
        function get_imagereport() {
            var c = parseInt(document.getElementById('image_counter').value) + 1
            document.getElementById('image_counter').value = c
            
            image_report = `
            <div id="imagereport">
                <input type="text" placeholder="imaging_event` + c + `" name="imaging_event` + c + `" />
                <input type="text" placeholder="imaging_test_name` + c + `" name="imaging_test_name` + c + `" />

                <input type="text" placeholder="imaging_modality ` + c + `" name="imaging_modality ` + c + `" />
                <input type="text" placeholder="imaging_body_site ` + c + `" name="imaging_body_site ` + c + `" />
                <input type="text" placeholder="imaging_findings ` + c + ` " name="imaging_findings ` + c + `" />
                <input type="file" placeholder="imaging_document ` + c + `" name="imaging_document ` + c + `" />
                
            </div>
            `
            document.getElementById("imagereport").insertAdjacentHTML('beforeend', image_report);
        }
    



        function get_labreport() {
            var c = parseInt(document.getElementById('lab_counter').value) + 1
            document.getElementById('lab_counter').value = c
            lab_report = `
            <div id="labreport">
                <input type="text" placeholder="lab_event` + c + `" name="lab_event` + c + `" />
                <input type="text" placeholder="lab_test_name` + c + `" name="lab_test_name` + c + `" />
                <input type="text" placeholder="lab_specimen_type` + c + `" name="lab_specimen_type` + c + `" />
                <input type="text" placeholder="lab_specimen_method` + c + `" name="lab_specimen_method` + c + `" />
                <input type="text" placeholder="lab_specimen_body_site` + c + `" name="lab_specimen_body_site` + c + `" />
                <input type="text" placeholder="lab_findings` + c + `" name="lab_findings` + c + `" />
                <input type="file" placeholder="lab_document` + c + `" name="lab_document` + c + `" />
                
            </div>
            `
            document.getElementById("labreport").insertAdjacentHTML('beforeend', lab_report);
        }

      
    </script>
</body>

</html>