<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Patient Data</title>
</head>

<body>
    <div id="main">
        <div id="features-creation">
            <div id="allergies">
                <form action="{% url 'patientAllergiesCreation' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="patientId" name="patientId" />
                    <input type="text" placeholder="substance" name="substance" />
                    <input type="text" placeholder="criticality" name="criticality" />
                    <input type="text" placeholder="type" name="type" />
                    <input type="text" placeholder="comment" name="comment" />
                    <button type="button">Submit</button>
                </form>
            </div>
            <div id="procedures">
                <p>Procedure will comes here</p>
            </div>
            <div id="illness">
                <form action="{% url 'patientIllnessCreation' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" placeholder="patientno" name="patientno" /> <br />
                    <input type="text" placeholder="illness_name" name="illness_name" /> <br />
                    <input type="text" placeholder="body_site" name="body_site" /> <br />
                    <input type="text" placeholder="severity" name="severity" /> <br />
                    <input type="date" placeholder="illness_date_onset" name="illness_date_onset" /> <br />
                    <input type="date" placeholder="illness_date_abatement" name="illness_date_abatement" /> <br />

                    <button type="submit">Submit</button>
                </form>
            </div>
            
        </div>
        <div id="diagenosis-creation">
            <div id="digenosis-details">
                <form method="post" action="{% url 'prescriptionBackend' %}" enctype="multipart/form-data" }>
                    {% csrf_token %}
                    <div id="labreport">
                        <form action="{% url '' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" placeholder="lab_event" name="lab_event" />
                            <input type="text" placeholder="lab_test_name" name="lab_test_name" />
                            <input type="text" placeholder="lab_specimen_type" name="lab_specimen_type" />
                            <input type="text" placeholder="lab_specimen_method" name="lab_specimen_method" />
                            <input type="text" placeholder="lab_specimen_body_site" name="lab_specimen_body_site" />
                            <input type="text" placeholder="lab_findings" name="lab_findings" />
                    
                            <input type="file" placeholder="lab_document" name="lab_document" />
                            <button type="button">Submit</button> 
                        </form>

                    </div>
                    <div id="imagereport">

                    </div>
                    <button onclick=get_imagereport()>Add ImageReport</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function get_imagereport() {
            var c = parseInt(document.getElementById('image_counter').value) + 1
            document.getElementById('image_counter').value = c
            document.getElementById('medicine_count_val ').innerHTML=c
            image_report = `
            <div id="imagereport">
                <input type="text" placeholder="imaging_event` + c + `" name="limaging_event` + c + `" />
                <input type="text" placeholder="imaging_test_name` + c + `" name="imaging_test_name` + c + `" />

                <input type="text" placeholder="imaging_modality ` + c + `" name="imaging_modality ` + c + `" />
                <input type="text" placeholder="imaging_body_site ` + c + `" name="imaging_body_site ` + c + `" />
                <input type="text" placeholder="imaging_findings ` + c + ` " name="imaging_findings ` + c + `" />
                <input type="file" placeholder="imaging_document ` + c + `" name="imaging_document ` + c + `" />
                
            </div>
            `
            document.getElementById("imagereport").insertAdjacentHTML('beforeend', image_report);
        }
    



    </script>
</body>

</html>