<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
  
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
   <title>Document</title>
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li><a href="#">Page 2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>

      <script>
        const btnDelete= document.querySelectorAll('.btn-delete');
        if(btnDelete) {
          const btnArray = Array.from(btnDelete);
          btnArray.forEach((btn) => {
            btn.addEventListener('click', (e) => {
              if(!confirm('Are you sure you want to delete it?')){
                e.preventDefault();
              }
            });
          })
        }
          
        // Pagination Code
        
        $(document).ready(function() {
            $('#example1').DataTable({     
              "aLengthMenu": [[3, 5, 10, 25], [3, 5, 10, 25, "All"]],
                "iDisplayLength": 5
               } 
            );
        } );
        $(document).ready(function() {
            $('#example2').DataTable({     
              "aLengthMenu": [[3, 5, 10, 25], [3, 5, 10, 25, "All"]],
                "iDisplayLength": 5
               } 
            );
        } );
      </script>
        
    <center><h3>Medical practitioner's dashboard</h3></center>


    <table id="example1" class="table table-striped table-bordered" style="width:100%">
      <h3>Todays Appointments</h4>
        
      <thead>
        <tr>
          <td>PatientID</td>
          <td>PatientName</td>
          <td> Patient Problem</td>
          <td>Appointment time</td>
          <td>Add</td>
          <td>Add</td>
          <td>View</td>
          <td>status</td>
         
        </tr>
      </thead>
      <tbody>
        {% for row in today_appointments %}
        <tr>
          <td>{{row.0}}</td>
          <td>{{row.1}}</td>
          <td>{{row.2}}</td>
          <td>{{row.3}}</td>
          <td width="150">
            <a href="/prescription/{{row.0}}/{{row.4}}" class="btn-success btn-sm" style="font-size: 12px;;">Add prescription</a>
          </td>
          <td width="150">
            <a href="createPatientData/{{row.0}}/{{row.4}}" class="btn-success btn-sm" style="font-size: 12px;;">Add Reports</a>
          </td>
          <td width="150">
            <a href="createPatientData/{{row.0}}/{{row.4}}" class="btn-warning btn-sm" style="font-size: 12px;;">View Medical data</a>
          </td> 
          <td width="150">
            <a href="checkstatus/{{row.0}}/{{row.4}}" class="btn-danger btn-sm" style="font-size: 12px;;">Mark as done</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table id="example2" class="table table-striped table-bordered" style="width:100%">
      <h3>Recent Appointments</h4>
      <thead>
        <tr>
          <td>PatientID</td>
          <td>PatientName</td>
          <td> Patient Problem</td>
          <td>Appointment time</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for row in past_appointments %}
        <tr>
          <td>{{row.0}}</td>
          <td>{{row.1}}</td>
          <td>{{row.2}}</td>
          <td>{{row.3}}</td>
           </td>
          <td width="200">
            <a href="/addPrescription/{{row.patientId.id}}" class="btn-warning btn-sm" style="font-size: 12px;;">View Prescription</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>




