<!-- lab_report
<div class="container ">
    <div class="row d-flex justify-content-center">
        <div  id="each_problem" class="card">
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">patientId  </label>
                    <input type="text"  id="patientId" name="patientId"  value="{{patientid}}" placeholder="enter " readonly> 
                    <span id="patientId_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_event </label>
                    <input type="text" id="lab_event" name="lab_event" placeholder="enter lab_event" > 
                    <span id="lab_event"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_test_name </label>
                    <input type="text" id="lab_test_name" name="lab_test_name" placeholder="enter lab_test_name" > 
                    <span id="lab_test_name_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3"> lab_specimen_type </label>
                    <input type="text" id="lab_specimen_type" name="lab_specimen_type" placeholder="enter lab_specimen_type" > 
                    <span id="lab_specimen_type_error"></span>
                </div>
            </div>
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_specimen_method  </label>
                    <input type="text"  id="lab_specimen_method" name="lab_specimen_method" placeholder="lab_specimen_method " readonly> 
                    <span id="lab_specimen_method_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">problem_name </label>
                    <input type="text" id="lab_specimen_body_site" name="lab_specimen_body_site" placeholder="enter lab_specimen_body_site" > 
                    <span id="lab_specimen_body_site_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">problem_body_site </label>
                    <input type="text" id="lab_findings" name="lab_findings" placeholder="enter lab_findings" > 
                    <span id="lab_findings_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_document </label>
                    <input type="file" id="lab_document" name="lab_document" placeholder="enter lab_document" > 
                    <span id="lab_document_error"></span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- image report -->
<!-- image_report=`<div class="container ">
    <div class="row d-flex justify-content-center">
        <div  id="each_problem" class="card">
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text"  id="patientId" name="patientId"  value="{{patientid}}" readonly> 
                    <span id="patientId_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_event` + c + `" name="imaging_event` + c + `" placeholder="enter imaging_event" >
                    <span id="imaging_event` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_test_name` + c + `" name="imaging_test_name` + c + `" placeholder="enter imaging_test_name" > 
                    <span id="imaging_test_name` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_modality` + c + `" name="imaging_modality` + c + `" placeholder="enter imaging_modality" > 
                    <span id="imaging_modality` + c + `_error"></span>
                </div>
            </div>
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text"  id="imaging_body_site` + c + `" name="imaging_body_site` + c + `" placeholder="imaging_body_site "> 
                    <span id="imaging_body_site` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_findings` + c + `" name="imaging_findings` + c + `" placeholder="enter imaging_findings" > 
                    <span id="imaging_findings` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="file" id="imaging_document` + c + `" name="imaging_document` + c + `" placeholder="enter imaging_document" > 
                    <span id="imaging_document` + c + `_error"></span>
                </div>
            </div>
    </div>
    </div>
</div>`; -->


<!-- <div id="allergies">
                <h1>allergies</h1>
                <form action="{% url 'patientAllergiesCreation' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="patientId" name="patientId" />
                    <input type="text" placeholder="substance" name="substance" />
                    <input type="text" placeholder="criticality" name="criticality" />
                    <input type="text" placeholder="type" name="type" />
                    <input type="text" placeholder="comment" name="comment" />
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div id="procedures">
                <h1>procedures</h1>
                <form method="POST" action="{% url 'procedurecreation' %}">
                    {%csrf_token%}
                    <input type="text" placeholder="patientId" name="patientId" />
                    <input type="text" placeholder="Procedure name" name="Procedure" /><br>
                    <input type="text" placeholder="Body site" name="BodySite" /><br>
                    <label for="Date of Procedure">Date of Procedure: </label>
                    <input type="date" placeholder="Date of Procedure" name="DateofProcedure" /><br>
                    <input type="Submit" value="Submit">
                </form>
            </div>
            <div id="illness">
                <h1>illness</h1>
                <form action="{% url 'patientIllnessCreation' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" placeholder="patientno" name="patientno" /> <br />
                    <input type="text" placeholder="illness_name" name="illness_name" /> <br />
                    <input type="text" placeholder="body_site" name="body_site" /> <br />
                    <input type="text" placeholder="severity" name="severity" /> <br />
                    <input type="date" placeholder="illness_date_onset" name="illness_date_onset" /> <br />
                    <input type="date" placeholder="illness_date_abatement" name="illness_date_abatement" /> <br />

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div id="diagenosis-creation">
            <div id="digenosis-details">
                <h1>digenosis-details</h1> -->

# def patientAllergiesCreation(request): # patientId = request.POST['patientId'] # substance = request.POST['substance'] # criticality = request.POST['criticality'] # type = request.POST['type'] # comment = request.POST['comment'] # pid = patient.objects.get(id=patientId)
# submit_allergies = allergies(patientId=pid, substance=substance, criticality=criticality, type=type, comment=comment) # submit_allergies.save() # return render(request, 'createPatientData.html') # def procedurecreation(request): # patientId = request.POST['patientId']
# patientId=patient.objects.get(id=patientId) # procedure_name=request.POST['Procedure'] # body_site=request.POST['BodySite'] # date_of_procedure=request.POST['DateofProcedure'] # submit_procedure=procedurehistory(patientId=patientId,procedure_name=procedure_name
,body_site=body_site,procedure_date=date_of_procedure) # submit_procedure.save() # return render(request, 'createPatientData.html') # def patientIllnessCreation(request): # patientno = request.POST['patientno'] # illness_name = request.POST['illness_name']
# body_site = request.POST['body_site'] # severity = request.POST['severity'] # illness_date_onset = request.POST['illness_date_onset'] # illness_date_abatement = request.POST['illness_date_abatement'] # pid = patient.objects.get(id=patientno) # submit_details
= illnesshistory(patientId=pid, illness_name=illness_name, body_site=body_site, severity=severity, illness_date_onset=illness_date_onset, illness_date_abatement=illness_date_abatement) # submit_details.save() # return render(request, 'createPatientData.html')
{% for each_data in all_details %}

<div id="lab-report" class="card-group">
    <div>
        <!-- <p>View Lab Report</p><br/> -->
        <p><span>Patient Name: {{patient_details.name}} </span> <span>Patient Age: {{patient_age}}</span></p>
        <p> Doctor Name: {{each_data.0.name}}</p>
    </div>
    {% for lab in each_data.1 %}
    <div class="card ">
        <div class="card-body canvas_div_pdf ">
            <div class="canvas_div_pdflabimage"><img src="{{lab.lab_document.url}}" class="card-img-top " alt="Lab Report"></div>
            <p class="card-text">{{lab.lab_event}}</p>
            <p class="card-text">{{lab.lab_test_name}}</p>
            <p class="card-text">{{lab.lab_specimen_type}}</p>
            <p class="card-text">{{lab.lab_specimen_method}}</p>
            <p class="card-text">{{lab.lab_specimen_body_site}}</p>
            <p class="card-text">{{lab.lab_findings}}</p>
            <!-- <img src="">{{lab.lab_document}}</p> -->

        </div>

        <button class="btn btn-success" onclick="getPDF()" id="downloadbtn" style="display: inline-block;"><b>Click to Download lab report</b></button>
        <button class="btn btn-success" onclick="getPDFforlabimage()" id="downloadbtn" style="display: inline-block;"><b>Click to Download Lab report image</b></button>
    </div>
    {% endfor %}

</div>
<div id="image-report" class="card-group">
    <div>
        <p>View Image Report</p>
        <p> Doctor Name: {{each_data.0.name}}</p>
    </div>
    {% for image in each_data.2 %}
    <div class="card ">
        <div class="card-body canvas_div_pdfimagereport">
            <div class="canvas_div_pdfimage"><img src="{{image.imaging_document.url}}" class="card-img-top" alt="Lab Report"></div>
            <p class="card-text">{{image.imaging_event}}</p>
            <p class="card-text">{{image.imaging_test_name}}</p>
            <p class="card-text">{{image.imaging_modality}}</p>
            <p class="card-text">{{image.imaging_body_site}}</p>
            <p class="card-text">{{image.imaging_findings}}</p>
            <p class="card-text">{{image.imaging_document}}</p>
            <div>
                <button onclick="getPDF()" id="downloadbtn" style="display: inline-block;"><b>Click to Download HTML as PDF</b></button>
            </div>
            <div id="image-report">
                <p>View Image Report</p>
                <div class="card-group">
                    {% for data in image_report %}
                    <div class="card canvas_div_pdf">
                        <div class="card-body">
                            <p class="card-text">{{data.imaging_event}}</p>
                            <p class="card-text">{{data.imaging_test_name}}</p>
                            <p class="card-text">{{data.imaging_modality}}</p>
                            <p class="card-text">{{data.imaging_body_site}}</p>
                            <p class="card-text">{{data.imaging_findings}}</p>
                            <p class="card-text">{{data.imaging_document}}</p>
                        </div>
                        <!-- <p class="card-text">{{image.imaging_document}}</p> -->
                    </div>
                    <button class="btn btn-success" onclick="getPDFforimagereport()" id="downloadbtn" style="display: inline-block;"><b>Click to Download HTML as PDF</b></button>
                    <button class="btn btn-success" onclick="getPDFforimage()" id="downloadbtn" style="display: inline-block;"><b>Click to Download HTML as PDF</b></button>
                </div>
                {% endfor %}

            </div>
            {% endfor %}
        </div>

        <form action="{% url 'patientSummaryView' %}" method="POST">
            {% csrf_token %}
            <!-- <input type="text" name="patient_name" placeholder="Enter firstname" />
    <input type="text" name="phone_number" placeholder="phone_number" />
    <button type="submit">Search</button> -->
            <!-- <a href="{% url 'patientSummaryView' %}">Submit</a> -->




            <table id="example1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <td>
                            <div class="text-center">
                                PatientID
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                PatientName
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                Patient Problem
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                Appointment time
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                Add Prescription
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                Diagnostic Report
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                View
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                Status
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in today_appointments %}
                    <tr>
                        <td>
                            <div class="text-center">
                                {{row.0}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{row.1}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{row.2}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{row.3}}
                            </div>
                        </td>
                        <td width="150">
                            <div class="text-center">
                                <a href="/prescription/{{row.0}}/{{row.4}}" class="btn-success btn" style="font-size: 12px;;">Add prescription</a>
                            </div>
                        </td>
                        <td width="150">
                            <div class="text-center">
                                <a href="add_reports/{{row.0}}/{{row.4}}" class="btn-success btn" style="font-size: 12px;;">Add Reports</a>
                            </div>
                        </td>
                        <td width="150">
                            <div class="text-center">
                                <a href="patientSummaryView/{{row.0}}/{{row.4}}" class="btn-warning btn" style="font-size: 12px;;">View Medical data</a>
                            </div>
                        </td>
                        <td width="150">
                            <div class="text-center">
                                <a href="checkstatus/{{row.0}}/{{row.4}}" class="btn-danger btn" style="font-size: 12px;;">Mark as done</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>