<!-- lab_report
<div class="container ">
    <div class="row d-flex justify-content-center">
        <div  id="each_problem" class="card">
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">patientId  </label>
                    <input type="text"  id="patientId" name="patientId"  value="{{patientid}}" placeholder="enter " readonly> 
                    <span id="patientId_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_event </label>
                    <input type="text" id="lab_event" name="lab_event" placeholder="enter lab_event" > 
                    <span id="lab_event"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_test_name </label>
                    <input type="text" id="lab_test_name" name="lab_test_name" placeholder="enter lab_test_name" > 
                    <span id="lab_test_name_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3"> lab_specimen_type </label>
                    <input type="text" id="lab_specimen_type" name="lab_specimen_type" placeholder="enter lab_specimen_type" > 
                    <span id="lab_specimen_type_error"></span>
                </div>
            </div>
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_specimen_method  </label>
                    <input type="text"  id="lab_specimen_method" name="lab_specimen_method" placeholder="lab_specimen_method " readonly> 
                    <span id="lab_specimen_method_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">problem_name </label>
                    <input type="text" id="lab_specimen_body_site" name="lab_specimen_body_site" placeholder="enter lab_specimen_body_site" > 
                    <span id="lab_specimen_body_site_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">problem_body_site </label>
                    <input type="text" id="lab_findings" name="lab_findings" placeholder="enter lab_findings" > 
                    <span id="lab_findings_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex"> 
                    <label class="form-control-label px-3">lab_document </label>
                    <input type="file" id="lab_document" name="lab_document" placeholder="enter lab_document" > 
                    <span id="lab_document_error"></span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- image report -->
<!-- image_report=`<div class="container ">
    <div class="row d-flex justify-content-center">
        <div  id="each_problem" class="card">
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text"  id="patientId" name="patientId"  value="{{patientid}}" readonly> 
                    <span id="patientId_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_event` + c + `" name="imaging_event` + c + `" placeholder="enter imaging_event" >
                    <span id="imaging_event` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_test_name` + c + `" name="imaging_test_name` + c + `" placeholder="enter imaging_test_name" > 
                    <span id="imaging_test_name` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_modality` + c + `" name="imaging_modality` + c + `" placeholder="enter imaging_modality" > 
                    <span id="imaging_modality` + c + `_error"></span>
                </div>
            </div>
            <div   class="row  text-left">
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text"  id="imaging_body_site` + c + `" name="imaging_body_site` + c + `" placeholder="imaging_body_site "> 
                    <span id="imaging_body_site` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="text" id="imaging_findings` + c + `" name="imaging_findings` + c + `" placeholder="enter imaging_findings" > 
                    <span id="imaging_findings` + c + `_error"></span>
                </div>
                <div class="form-group col-sm-3 flex-column d-flex">
                    <input type="file" id="imaging_document` + c + `" name="imaging_document` + c + `" placeholder="enter imaging_document" > 
                    <span id="imaging_document` + c + `_error"></span>
                </div>
            </div>
    </div>
    </div>
</div>`; -->

{% for each_data in all_details %}

<div id="lab-report" class="card-group">
    <div>
        <!-- <p>View Lab Report</p><br/> -->    
        <p><span>Patient Name: {{patient_details.name}} </span> <span>Patient Age: {{patient_age}}</span></p>
        <p> Doctor Name: {{each_data.0.name}}</p>
    </div>
    {% for lab in each_data.1 %}
    <div class="card ">
        <div class="card-body canvas_div_pdf ">
            <div class="canvas_div_pdflabimage"><img src="{{lab.lab_document.url}}" class="card-img-top " alt="Lab Report"></div>
            <p class="card-text">{{lab.lab_event}}</p>
            <p class="card-text">{{lab.lab_test_name}}</p>
            <p class="card-text">{{lab.lab_specimen_type}}</p>
            <p class="card-text">{{lab.lab_specimen_method}}</p>
            <p class="card-text">{{lab.lab_specimen_body_site}}</p>
            <p class="card-text">{{lab.lab_findings}}</p>
            <!-- <img src="">{{lab.lab_document}}</p> -->
            
        </div>
        
        <button class="btn btn-success" onclick="getPDF()" id="downloadbtn" style="display: inline-block;"><b>Click to Download lab report</b></button>
        <button class="btn btn-success" onclick="getPDFforlabimage()" id="downloadbtn" style="display: inline-block;"><b>Click to Download Lab report image</b></button>
    </div>
    {% endfor %}
   
</div>
<div id="image-report" class="card-group">
    <div>
        <p>View Image Report</p>
        <p> Doctor Name: {{each_data.0.name}}</p>
    </div>
    {% for image in each_data.2 %}
    <div class="card ">
        <div class="card-body canvas_div_pdfimagereport">
            <div class="canvas_div_pdfimage"><img src="{{image.imaging_document.url}}" class="card-img-top" alt="Lab Report"></div>
            <p class="card-text">{{image.imaging_event}}</p>
            <p class="card-text">{{image.imaging_test_name}}</p>
            <p class="card-text">{{image.imaging_modality}}</p>
            <p class="card-text">{{image.imaging_body_site}}</p>
            <p class="card-text">{{image.imaging_findings}}</p>
            <p class="card-text">{{image.imaging_document}}</p>
<div>
    <button onclick="getPDF()" id="downloadbtn" style="display: inline-block;"><b>Click to Download HTML as PDF</b></button>
</div>
<div id="image-report">
    <p>View Image Report</p>
    <div class="card-group">
        {% for data in image_report %}
        <div class="card canvas_div_pdf">
            <div class="card-body">
                <p class="card-text">{{data.imaging_event}}</p>
                <p class="card-text">{{data.imaging_test_name}}</p>
                <p class="card-text">{{data.imaging_modality}}</p>
                <p class="card-text">{{data.imaging_body_site}}</p>
                <p class="card-text">{{data.imaging_findings}}</p>
                <p class="card-text">{{data.imaging_document}}</p>
            </div>
            <!-- <p class="card-text">{{image.imaging_document}}</p> -->
        </div>
        <button class="btn btn-success" onclick="getPDFforimagereport()" id="downloadbtn" style="display: inline-block;"><b>Click to Download HTML as PDF</b></button>
    <button class="btn btn-success" onclick="getPDFforimage()" id="downloadbtn" style="display: inline-block;"><b>Click to Download HTML as PDF</b></button>
    </div>
    {% endfor %}
    
</div>
{% endfor %}
</div>

<form action="{% url 'patientSummaryView' %}" method="POST">
    {% csrf_token %}
    <!-- <input type="text" name="patient_name" placeholder="Enter firstname" />
    <input type="text" name="phone_number" placeholder="phone_number" />
    <button type="submit">Search</button> -->
<!-- <a href="{% url 'patientSummaryView' %}">Submit</a> -->