{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
    <title>Patient Summary</title>
</head>

<body>
    <div>
        <form action="{% url 'patientIllnessCreation' %}" method="POST">
            {% csrf_token %}
            <input type="number" placeholder="patientno" name="patientno" /> <br />
            <input type="text" placeholder="illness_name" name="illness_name" /> <br />
            <input type="text" placeholder="body_site" name="body_site" /> <br />
            <input type="text" placeholder="severity" name="severity" /> <br />
            <input type="date" placeholder="illness_date_onset" name="illness_date_onset" /> <br />
            <input type="date" placeholder="illness_date_abatement" name="illness_date_abatement" /> <br />

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>