<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Report</title>
</head>

<body>
    <div id="labreport">
        <input type="text" placeholder="lab_event`+c+`" name="lab_event`+c+`" />
        <input type="text" placeholder="lab_test_name`+c+`" name="lab_test_name`+c+`" />
        <input type="text" placeholder="lab_specimen_type`+c+`" name="lab_specimen_type`+c+`" />
        <input type="text" placeholder="lab_specimen_method`+c+`" name="lab_specimen_method`+c+`" />
        <input type="text" placeholder="lab_specimen_body_site`+c+`" name="lab_specimen_body_site`+c+`" />
        <input type="text" placeholder="lab_findings`+c+`" name="lab_findings`+c+`" />
        <input type="file" placeholder="lab_document`+c+`" name="lab_document`+c+`" />
        <input type="text" placeholder="comment`+c+`" name="comment`+c+`" />
    </div>
</body>

</html>