{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Patient Summary</title>

    <style>
        .collapsible {
            background-color: #7d9cb1;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 18px;
        }
        
        .active,
        .collapsible:hover {
            background-color: #319aa1;
        }
        
        .content {
            padding: 0 18px;
            display: none;
            overflow: auto;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div id="main-section">
        <section class="header-uper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-3">
                        <div class="logo">
                            <a href="index.html">
                                <img loading="lazy" src="{% static 'image/logo.jpeg' %}" alt="logo" style="height: 150px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9">
                        <div class="right-side">
                            <ul class="contact-info pl-0 mb-4 mb-md-0">
                                <li class="item text-left">

                                    <strong>Email</strong>
                                    <br>
                                    <a href="mailto:info@medic.com">
                                        <span>{{doctor_id.email}}</span>
                                    </a>
                                </li>
                                <li class="item text-left">

                                    <strong>Call Now</strong>
                                    <br>
                                    <span>+ (91) {{doctor_id.phoneno}}</span>
                                </li>
                            </ul>
                            <div class="link-btn text-center text-lg-right">
                                <a href="" class="btn-style-one">Register a Patient</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Header Upper-->


        <!--Main Header-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

                <div class="collapse navbar-collapse" id="navbarLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'homePage' %}">Home</a>
                        </li>
                        <!-- <li class="nav-item @@about">
                    <a class="nav-link" href="prescription.html">All prescriptions</a>
                  </li> -->
                        <!-- <li class="nav-item @@service">
                    <a class="nav-link" href="#lab-result">Lab results</a>
                  </li>
                  <li class="nav-item @@gallery">
                    <a class="nav-link" href="#imaging-result">Imaging Results</a>
                  </li> -->
                        <li class="nav-item @@team">
                            <a class="nav-link" href="#footer">Team</a>
                        </li>

                        </li>
                        <li class="nav-item @@contact">
                            <a class="nav-link" href="">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--End Main Header -->

        <br/>
        <br/>
        <div class="d-md-flex justify-content-around">
            <p class="text-capitalize h3 text-center">Patient Name: <span class="h5">{{patient_details.name}}</span></p>
            <p class="text-center h3">Patient Age: <span class="h5">{{patient_age}}</span></p>
        </div>

        <br/>

        <!-- <a href="{% url 'patientSummaryView' %}">Submit</a> -->
        <div id="Patient-data">


            <button type="button" class="collapsible">Previous prescriptions</button>
            <div class="content">
                <div class="card-group table-responsive">

                    {% for each_data in problem_with_medicines %}
                    <br>
                    <div class="d-md-flex pt-3">
                        <p><span class="font-weight-bold"> Disease Name:</span> <span class="initialism mx-1"> {{each_data.0.problem_name}}</span></p>
                        <p class="mx-lg-5"><span class="font-weight-bold"> Date Time Onset: </span><span class="initialism mx-1"> {{each_data.0.date_time_onset}}</span></p>
                    </div>
                    <table id="example1" class="table table-striped table-bordered" style="width:80%; margin: auto;">
                        <thead>
                            <tr>
                                <td>medicine_name</td>
                                <td>form</td>
                                <td>strength</td>
                                <td>unit</td>
                                <td>diluent</td>
                                <td>diluent_amount</td>
                                <td>diluent_unit</td>
                                <td>dosade_directions</td>
                                <td>frequency</td>
                                <td>frequency_unit</td>
                                <td>interval</td>
                                <td>interval_unit</td>
                                <td>named_time_event</td>
                                <td>exact_timing_critical</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for medicine_data in each_data.1 %}
                            <tr>
                                <td>{{medicine_data.medicine_name}}</td>
                                <td>{{medicine_data.form}}</td>
                                <td>{{medicine_data.strength}}</td>
                                <td>{{medicine_data.strength_unit}}</td>
                                <td>{{medicine_data.diluent}}</td>
                                <td>{{medicine_data.diluent_amount}}</td>
                                <td>{{medicine_data.diluent_unit}}</td>
                                <td>{{medicine_data.dosade_directions}}</td>
                                <td>{{medicine_data.frequency}}</td>
                                <td>{{medicine_data.frequency_unit}}</td>
                                <td>{{medicine_data.interval}}</td>
                                <td>{{medicine_data.interval_unit}}</td>
                                <td>{{medicine_data.named_time_event}}</td>
                                <td>{{medicine_data.exact_timing_critical}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                <br>
            </div>
            <button type="button" class="collapsible">Allergies</button>
            <div class="content table-responsive">
                <div class="card-group">
                    <table id="example1" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <td>substance</td>
                                <td>criticality</td>
                                <td>type</td>
                                <td>comment</td>

                            </tr>
                        </thead>
                        <tbody>
                            {% for data in allergy_data %}
                            <tr>
                                <td>{{data.substance}}</td>
                                <td>{{data.criticality}}</td>
                                <td>{{data.type}}</td>
                                <td>{{data.comment}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>
            </div>

            <button type="button" class="collapsible">History of Procedure</button>
            <div class="content table-responsive">
                <div class="card-group">
                    <table id="example1" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <td>procedure_name</td>
                                <td>body_site</td>
                                <td>severity</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in procedure_data %}
                            <tr>
                                <td>{{data.procedure_name}}</td>
                                <td>{{data.body_site}}</td>
                                <td>{{data.severity}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>
            </div>

            <button type="button" class="collapsible">History of Illness</button>
            <div class="content table-responsive">
                <div class="card-group">
                    <table id="example1" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <td>illness_name</td>
                                <td>body_site</td>
                                <td>severity</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in illness_data %}
                            <tr>
                                <td>{{data.illness_name}}</td>
                                <td>{{data.body_site}}</td>
                                <td>{{data.severity}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div id="diagnostic-data">
            <button type="button" class="collapsible">History of Diagnostics Data</button>
            <div class="content" style="padding:0;">
                {% for each_data in all_details %}
                <div class="d-md-flex justify-content-around pt-3">
                    <p><span class="font-weight-bold"> Doctor Name:</span> <span class="initialism mx-1"> {{each_data.0.name}}</span></p>
                    <p><span class="font-weight-bold"> Doctor Email-Id: </span><span class="initialism mx-1"> {{each_data.0.email}}</span></p>
                    <p><span class="font-weight-bold"> Doctor Phone-No: </span><span class="initialism mx-1"> {{each_data.0.phoneno}}</span></p>
                </div>
                <button type="button" class="collapsible">Previous Lab Report</button>
                <div class="content">
                    <div class="card-group">
                        <table id="example1" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <td>lab_event</td>
                                    <td>lab_test_name</td>
                                    <td>lab_specimen_type</td>
                                    <td>lab_specimen_method</td>
                                    <td>lab_specimen_body_site</td>
                                    <td>lab_findings</td>
                                    <td>lab_document</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lab in each_data.1 %}
                                <tr>
                                    <td>{{lab.lab_event}}</td>
                                    <td>{{lab.lab_test_name}}</td>
                                    <td>{{lab.lab_specimen_type}}</td>
                                    <td>{{lab.lab_specimen_method}}</td>
                                    <td>{{lab.lab_specimen_body_site}}</td>
                                    <td>{{lab.lab_findings}}</td>
                                    <td>
                                        <div class="text-center">
                                            <a class="btn btn-primary" href="imageView/{{lab.lab_document}}">View Report</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- </div> -->
                    </div>
                </div>

                <button type="button" class="collapsible">Previous Image Report</button>
                <div class="content">
                    <div class="card-group">
                        <table id="example1" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <td>imaging_event</td>
                                    <td>imaging_test_name</td>
                                    <td>imaging_modality</td>
                                    <td>imaging_body_site</td>
                                    <td>imaging_findings</td>
                                    <td>imaging_document</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for image in each_data.2 %}
                                <tr>
                                    <td>{{image.imaging_event}}</td>
                                    <td>{{image.imaging_test_name}}</td>
                                    <td>{{image.imaging_modality}}</td>
                                    <td>{{image.imaging_body_site}}</td>
                                    <td>{{image.imaging_findings}}</td>
                                    <td>
                                        <div class="text-center">
                                            <a class="btn btn-primary" href="imageView/{{image.imaging_document}}">View Report</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- </div> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--footer-main-->
    <footer class="footer-main" id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="about-widget">
                            <div class="footer-logo">
                                <figure>
                                    <a href="{% url 'homePage' %}">
                                        <img loading="lazy" class="img-fluid" src="{% static 'image/logo.jpeg' %}" alt="medic" style="width: 100px;">
                                    </a>
                                </figure>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, temporibus?</p>
                            <ul class="location-link">

                                <li class="item">
                                    <i class="far fa-envelope" aria-hidden="true"></i>
                                    <a>
                                        <p>{{doctor_id.email}}</p>
                                    </a>
                                </li>
                                <li class="item">
                                    <i class="fas fa-phone" aria-hidden="true"></i>
                                    <p>+(91) {{doctor_id.phoneno}}</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-3 mb-md-0">
                        <h2 style="font-weight: bold;">Team</h2>
                        <ul class="menu-link">
                            <li>
                                <h5>Akanksha Kushwaha</h5>
                            </li>
                            <li>
                                <h5>Kirti Garg</h5>
                            </li>
                            <li>
                                <h5>Sushanth Anantabhotala</h5>
                            </li>
                            <li>
                                <h5>Souvik Ghosh</h5>
                            </li>
                            <li>
                                <h5>Kunnathu Pavan Kumar</h5>
                            </li>
                            <li>
                                <h5>Suraj Pratap Singh</h5>
                            </li>
                            <li>
                                <h5>Raghib Shams</h5>
                            </li>
                            <li>
                                <h5>Sailesh Kumar Sharma</h5>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="social-links">
                            <h2>Some Reviews</h2>
                            <ul>
                                <li class="item">
                                    <div class="media">

                                        <div class="media-body">
                                            <h5><a href="">Your own companion</a></h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="media">

                                        <div class="media-body">
                                            <h5><a href="">Best Experience</a></h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container clearfix">
                <div class="copyright-text">
                    <p>&copy; Copyright 2022. Designed &amp; Developed by <a href="">Docsy Team</a></p>
                </div>

            </div>
        </div>
    </footer>
    <!--End footer-main-->

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
    <script>
        function getPDF() {
            var HTML_Width = $(".canvas_div_pdf").width();
            var HTML_Height = $(".canvas_div_pdf").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


            html2canvas($(".canvas_div_pdf")[0], {
                allowTaint: true
            }).then(function(canvas) {
                canvas.getContext('2d');

                console.log(canvas.height + "  " + canvas.width);


                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }

                pdf.save("HTML-Document.pdf");
            });
        };

        function getPDFforlabimage() {
            var HTML_Width = $(".canvas_div_pdflabimage").width();
            var HTML_Height = $(".canvas_div_pdflabimage").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


            html2canvas($(".canvas_div_pdflabimage")[0], {
                allowTaint: true
            }).then(function(canvas) {
                canvas.getContext('2d');

                console.log(canvas.height + "  " + canvas.width);


                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }

                pdf.save("HTML-Document.pdf");
            });
        };

        function getPDFforimagereport() {
            var HTML_Width = $(".canvas_div_pdfimagereport").width();
            var HTML_Height = $(".canvas_div_pdfimagereport").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


            html2canvas($(".canvas_div_pdfimagereport")[0], {
                allowTaint: true
            }).then(function(canvas) {
                canvas.getContext('2d');

                console.log(canvas.height + "  " + canvas.width);


                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }

                pdf.save("HTML-Document.pdf");
            });
        };

        function getPDFforimage() {
            var HTML_Width = $(".canvas_div_pdfimage").width();
            var HTML_Height = $(".canvas_div_pdfimage").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


            html2canvas($(".canvas_div_pdfimage")[0], {
                allowTaint: true
            }).then(function(canvas) {
                canvas.getContext('2d');

                console.log(canvas.height + "  " + canvas.width);


                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }

                pdf.save("HTML-Document.pdf");
            });
        };
    </script>
</body>

</html>