Lab
<Section>
    <!-- {% for data in lab_report %} -->

    <!-- {% endfor %} -->
</Section>

Image
<Section>
    <!-- {% for data in image_report %} -->

    <!-- {% endfor %} -->
    <!-- </div> -->
</Section>



"lab_report":lab_reports, "image_report":image_reports, "doctor_details":doctors_detail



<div>
    <p>View Diagnostics</p>
    <p><span>Patient Name: {{patient_details.name}} </span> <span>Patient Age: {{patient_details.patient_age}}</span></p>
    <!-- <div id="lab-report"> -->
    {% for i in all_details %}
    <div id="lab-report" class="card-group">
        <p>View Lab Report</p>
        <p> Doctor Name: {{i.0.name}}</p>

    </div>
    <!-- </div> -->
    <!-- <div > -->

    <div id="image-report" class="card-group">
        <p>View Image Report</p>
        <p> Doctor Name: {{i.0.name}}</p>
        <!-- <p>{{counter}}</p> -->

    </div>
    {% endfor %}
</div>


<div id="lab-report" class="card-group">
    <p>View Lab Report</p>
    <p> Doctor Name: {{i.0.name}}</p>

</div>

<div id="image-report" class="card-group">
    <p>View Image Report</p>
    <p> Doctor Name: {{i.0.name}}</p>

</div>