Lab
<Section>
    <!-- {% for data in lab_report %} -->
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{i.1.lab_event}}</p>
            <p class="card-text">{{i.1.lab_test_name}}</p>
            <p class="card-text">{{i.1.lab_specimen_type}}</p>
            <p class="card-text">{{i.1.lab_specimen_method}}</p>
            <p class="card-text">{{i.1.lab_specimen_body_site}}</p>
            <p class="card-text">{{i.1.lab_findings}}</p>
            <img src="">{{i.1.lab_document}}</p>
        </div>
    </div>
    <!-- {% endfor %} -->
</Section>

Image
<Section>
    <!-- {% for data in image_report %} -->
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{i.2.imaging_event}}</p>
            <p class="card-text">{{i.2.imaging_test_name}}</p>
            <p class="card-text">{{i.2.imaging_modality}}</p>
            <p class="card-text">{{i.2.imaging_body_site}}</p>
            <p class="card-text">{{i.2.imaging_findings}}</p>
            <p class="card-text">{{i.2.imaging_document}}</p>
        </div>
    </div>
    <!-- {% endfor %} -->
    <!-- </div> -->
</Section>



"lab_report":lab_reports, "image_report":image_reports, "doctor_details":doctors_detail



<div>
    <p>View Diagnostics</p>
    <p><span>Patient Name: {{patient_details.name}} </span> <span>Patient Age: {{patient_details.patient_age}}</span></p>
    <!-- <div id="lab-report"> -->
    {% for i in all_details %}
    <div id="lab-report" class="card-group">
        <p>View Lab Report</p>
        <p> Doctor Name: {{i.0.name}}</p>

    </div>
    <!-- </div> -->
    <!-- <div > -->

    <div id="image-report" class="card-group">
        <p>View Image Report</p>
        <p> Doctor Name: {{i.0.name}}</p>
        <!-- <p>{{counter}}</p> -->

    </div>
    {% endfor %}
</div>