<div class="col-lg-4 col-md-7">
    <div class="social-links">
      <h2>Some Reviews</h2>
      <ul>
        <li class="item">
          <div class="media">
            
            <div class="media-body">
              <h5><a href="">Front-End</a></h5>
              <p>Akanksha</p>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="media">

            <div class="media-body">
              <h5><a href="">Best Experience</a></h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>