{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap Ecommerce Template" name="keywords">
    <meta content="Bootstrap Ecommerce Template Free Download" name="description">
    <title> Patient SignIn | SignUp Page</title>
    <!--  <link rel="stylesheet" href="./style.css">-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- partial:index.partial.html -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript">
        function validate(signup_form) {
            var name = document.getElementById('name').value;
            var dob = document.getElementById('dob').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var gender = document.getElementById('gender').value;
            var pass = document.getElementById('password').value;
            var cpass = document.getElementById('cpassword').value;
            var string = "Password must contain";
            var k = 0,
                r = 0;
            name = name.trim();

            var check1 = new RegExp("[a-zA-Z ]", "g");
            var check = new RegExp("[a-zA-Z0-9]@[a-z]{3,}\.[a-z]{2,}", "g");
            if (name.length == 0) {
                document.getElementById("uname1").innerHTML = "Enter Your Name";
                k = 1;
            } else if (!name.match(check1)) {
                document.getElementById("uname1").innerHTML = "Enter Characters Name";
                k = 1;
            } else
                document.getElementById("uname1").innerHTML = "";

            if (dob.length == 0) {
                document.getElementById("dob_error").innerHTML = "Enter Your dob";
                k = 1;
            } else
                document.getElementById("dob_error").innerHTML = "";



            if (phone.length != 10) {
                document.getElementById("phone_error").innerHTML = "Enter valid number";
                k = 1;
            } else
                document.getElementById("phone_error").innerHTML = "";

            if (gender.length == 0) {
                document.getElementById("gender_error").innerHTML = "Please Choose gender";
                k = 1;
            } else
                document.getElementById("gender_error").innerHTML = "";

            if (email.length == 0) {
                document.getElementById("emailid1").innerHTML = "Enter EmailID";
                k = 1;
            } else if (!email.match(check)) {
                document.getElementById("emailid1").innerHTML = "Enter a Correct Mail";
                k = 1;
            } else {
                document.getElementById("emailid1").innerHTML = "";
            }
            if (pass.length == 0) {
                document.getElementById("pass1").innerHTML = "Enter Password";
                k = 1;
                r = 1;
            } else
                document.getElementById("pass1").innerHTML = "";
            if (cpass.length == 0) {
                document.getElementById("cpass1").innerHTML = "Enter Confirm Password";
                k = 1;
            } else
                document.getElementById("cpass1").innerHTML = "";
            var c = 0,
                s = 0,
                n = 0,
                sym = 0,
                i;
            for (i = 0; i < pass.length; i++) {
                var ass = pass.charCodeAt(i);
                if (ass >= 58 && ass <= 64)
                    sym = 1;
                if (ass <= 47) {
                    sym = 1;
                } else if (ass >= 48 && ass <= 57) {
                    n = 1;
                } else if (ass >= 65 && ass <= 90) {
                    c = 1;
                } else if (ass >= 97 && ass <= 122) {
                    s = 1;
                }

            }
            if (c == 0) {
                string = string + " 1 Capital letter";
                // document.getElementById("pass1").innerHTML="Password must contain atleast one Capital letter";
                k = 1;
            }
            if (s == 0) {
                string = string + " 1 Small letter";
                // document.getElementById("pass1").innerHTML="Password must contain atleast one Small letter";
                k = 1;
            }
            if (n == 0) {
                string = string + " 1 number";
                // document.getElementById("pass1").innerHTML="Password must contain atleast one Number";
                k = 1;
            }
            if (sym == 0) {
                string = string + " 1 symbol";
                // document.getElementById("pass1").innerHTML="Password must contain atleast one Symbol letter";
                k = 1;
            }
            if (string.length > 21 && r == 0) {
                document.getElementById("pass1").innerHTML = string;
            } else if (r == 0)
                document.getElementById("pass1").innerHTML = "";

            if (pass != cpass) {
                document.getElementById("cpass1").innerHTML = "Password and Confrom Password should be same";
                k = 1;
            } else if (pass.length > 0)
                document.getElementById("cpass1").innerHTML = "";
            if (k == 1) {
                return false;
            }
            return true;
        }
    </script>

    <script>
        function loginauthenticate(form1) {
            var mail = document.getElementById('sign_in_email').value;
            var pass = document.getElementById('sign_in_pass').value;

            var el = document.getElementsByName("csrfmiddlewaretoken");
            csrf_value = el[0].getAttribute("value");

            $.ajax({
                type: 'post',
                url: "{% url 'patientloginauth' %}",
                data: {
                    a: mail,
                    b: pass,
                    csrfmiddlewaretoken: csrf_value
                },
                success: function(response) {
                    alert(response);
                    if (response == 0) {
                        document.getElementById('incorrect').innerHTML = "Incorrect Details";
                        document.getElementById('sign_in_pass').value = "";
                    } else {
                        document.getElementById('incorrect').innerHTML = "";
                        document.location.href = "{% url 'patientHomePage' %}";
                    }
                }
            });
        }
    </script>

    <script>
        function checkemail(form1) {
            var mail = document.getElementById('email').value;


            var el = document.getElementsByName("csrfmiddlewaretoken");
            csrf_value = el[0].getAttribute("value");
            $.ajax({
                type: 'post',
                url: "{% url 'emailalreadyexists' %}",
                data: {
                    a: mail,
                    csrfmiddlewaretoken: csrf_value
                },
                success: function(response) {
                    if (response == 0) {
                        document.getElementById('emailid1').innerHTML = "Email Already Exists";

                    } else {
                        document.getElementById('incorrect').innerHTML = "";

                    }
                }
            });
        }
    </script>
    <script>
        function checkemail() {
            var mail = document.getElementById('email').value;


            var el = document.getElementsByName("csrfmiddlewaretoken");
            csrf_value = el[0].getAttribute("value");
            $.ajax({
                type: 'post',
                url: "{% url 'emailalreadyexists' %}",
                data: {
                    a: mail,
                    csrfmiddlewaretoken: csrf_value
                },
                success: function(response) {
                    if (response == 0) {
                        document.getElementById('emailid1').innerHTML = "Email Already Exists";

                    } else {
                        document.getElementById('emailid1').innerHTML = "";

                    }
                }
            });
        }
    </script>
    <script>
        function checkmobile() {
            var phone = document.getElementById('phone').value;
            // alert(phone)
            var el = document.getElementsByName("csrfmiddlewaretoken");
            csrf_value = el[0].getAttribute("value");
            $.ajax({
                type: 'post',
                url: "{% url 'mobilealreadyexists' %}",
                data: {
                    a: phone,
                    csrfmiddlewaretoken: csrf_value
                },
                success: function(response) {
                    // alert(response)
                    if (response == 0) {
                        document.getElementById('phone_error').innerHTML = "Mobile Already Exists";
                    } else {
                        document.getElementById('phone_error').innerHTML = "";

                    }
                }
            });
        }
    </script>
    {% if message %}

    <div class="alert alert-success alert-dismissible " role="alert">
        {{ message }}

    </div>
    {% endif %}

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form name="signup_form" method="post" action="{% url 'patientregistrationValidation' %}" enctype="multipart/form-data">
                {%csrf_token%}
                <h1>Create Account</h1>
                <input type="text" placeholder="Name" name="name" id="name" />
                <span id="uname1"></span>

                <input type="date" name="dob" id="dob" />
                <span id="dob_error"></span>

                <input type="email" placeholder="Email" name="email" id="email" onchange=checkemail() />
                <span id="emailid1"></span>
                <select name="gender" id="gender">
                    <option value="" >Choose Gender</option>
                    <option value="male">male</option>
                    <option value="female">Female</option>
                </select>
                <span id="gender_error"></span>

                <input type="number" placeholder="Phone" name="phone" id="phone" onchange=checkmobile() />
                <span id="phone_error"></span>

                <input type="password" placeholder="Password" name="password" id="password" />
                <span id="pass1"></span>

                <input type="password" placeholder="Conform Password" name="cpassword" id="cpassword" />
                <span id="cpass1"></span>



                <button onclick="return validate(this)">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form name="form1" method="post">
                {%csrf_token%}
                <h1>Sign in</h1>

                <input type="email" placeholder="Email" name="sign_in_email" id="sign_in_email" />
                <input type="password" placeholder="Password" name="sign_in_pass" id="sign_in_pass" />
                <!-- <a href="#">Forgot your password?</a> -->
                <span id="incorrect"></span>
                <button type="button" onclick="return loginauthenticate(this);">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    </br>

    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () =>
            container.classList.add('right-panel-active'));

        signInButton.addEventListener('click', () =>
            container.classList.remove('right-panel-active'));
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>